<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>NetBanking</display-name>
  <welcome-file-list>
    <welcome-file>MainIndex.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CustomerAddServe</display-name>
    <servlet-name>CustomerAddServe</servlet-name>
    <servlet-class>master.Servlet.CustomerAddServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerAddServe</servlet-name>
    <url-pattern>/CustomerAddServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerDelServe</display-name>
    <servlet-name>CustomerDelServe</servlet-name>
    <servlet-class>master.Servlet.CustomerDelServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerDelServe</servlet-name>
    <url-pattern>/CustomerDelServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerUpdateServe</display-name>
    <servlet-name>CustomerUpdateServe</servlet-name>
    <servlet-class>master.Servlet.CustomerUpdateServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerUpdateServe</servlet-name>
    <url-pattern>/CustomerUpdateServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerPassChange</display-name>
    <servlet-name>CustomerPassChange</servlet-name>
    <servlet-class>master.Servlet.CustomerPassChange</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerPassChange</servlet-name>
    <url-pattern>/CustomerPassChange</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FundTransferServe</display-name>
    <servlet-name>FundTransferServe</servlet-name>
    <servlet-class>master.Servlet.FundTransferServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FundTransferServe</servlet-name>
    <url-pattern>/FundTransferServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountOpenServe</display-name>
    <servlet-name>AccountOpenServe</servlet-name>
    <servlet-class>master.Servlet.AccountOpenServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountOpenServe</servlet-name>
    <url-pattern>/AccountOpenServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountUpdateServe</display-name>
    <servlet-name>AccountUpdateServe</servlet-name>
    <servlet-class>master.Servlet.AccountUpdateServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountUpdateServe</servlet-name>
    <url-pattern>/AccountUpdateServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountDelServe</display-name>
    <servlet-name>AccountDelServe</servlet-name>
    <servlet-class>master.Servlet.AccountDelServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountDelServe</servlet-name>
    <url-pattern>/AccountDelServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerLoginServe</display-name>
    <servlet-name>CustomerLoginServe</servlet-name>
    <servlet-class>master.Servlet.CustomerLoginServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLoginServe</servlet-name>
    <url-pattern>/CustomerLoginServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FixedDepositServe</display-name>
    <servlet-name>FixedDepositServe</servlet-name>
    <servlet-class>master.Servlet.FixedDepositServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FixedDepositServe</servlet-name>
    <url-pattern>/FixedDepositServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecrringDepositServe</display-name>
    <servlet-name>RecrringDepositServe</servlet-name>
    <servlet-class>master.Servlet.RecrringDepositServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecrringDepositServe</servlet-name>
    <url-pattern>/RecrringDepositServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BankStatementServe</display-name>
    <servlet-name>BankStatementServe</servlet-name>
    <servlet-class>master.Servlet.BankStatementServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BankStatementServe</servlet-name>
    <url-pattern>/BankStatementServe</url-pattern>
  </servlet-mapping>
</web-app>